# ============================================================
# PYTHON
# ============================================================

__pycache__/
*.pyc
*.pyo
*.pyd


# ============================================================
# ENVIRONMENT VARIABLES
# ============================================================

.env


# ============================================================
# AIRFLOW
# ============================================================

airflow/logs/
airflow/airflow.db
airflow/webserver_config.py


# ============================================================
# SPARK
# ============================================================

spark-warehouse/
metastore_db/

# Spark JARs
spark/jars/
spark/jars/*.jar


# ============================================================
# POSTGRESQL / DATABASES
# ============================================================

postgres_data/
*.db


# ============================================================
# LOG FILES
# ============================================================

logs/
*.log


# ============================================================
# JUPYTER
# ============================================================

.ipynb_checkpoints/
*/.ipynb_checkpoints/*


# ============================================================
# IDE / EDITORS
# ============================================================

.vscode/
.idea/


# ============================================================
# OPERATING SYSTEM FILES
# ============================================================

.DS_Store
Thumbs.db


# ============================================================
# DOCKER
# ============================================================

*.pid


# ============================================================
# LARGE VIDEO FILES
# ============================================================

*.mp4
*.mov
*.avi


# ============================================================
# TEMP FILES
# ============================================================

*.tmp
*.temp
